<div class="home-menu">
  <ul>
    <li [routerLinkActive]='["link-active"]'>
      <a class="text-dark" [routerLink]='["/management"]'>
        <div class="home-menu-option-image home-menu-management-image"></div>
        <span class="home-option-link">Managenent</span>
      </a>
    </li>
    <li [routerLinkActive]='["link-active"]'>
      <a class="text-dark" [routerLink]='["/security"]'>
        <div class="home-menu-option-image home-menu-security-image"></div>
        <span class="home-option-link">Security</span>
      </a>
    </li>
  </ul>
</div>